/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header.header-wrapper {
    height: auto;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    width: var(--nav-width);
    background: var(--background-color);
    box-shadow: 2px 2px 10px rgba(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    position: fixed;
    height: 100%;
    z-index: 7;
    margin: 0;
    left: 0;
    top: 0;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
  
  header .nav-brand .default-content-wrapper p:last-child {
    border: 1px solid var(--color-input-border);
    margin: 30px 0 10px;
    border-radius: 5px;
    max-width: 220px;
    min-width: 220px;
    height: 54px;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
  }

  header .nav-brand .default-content-wrapper p .icon-search {
    display: inline-flex;
    justify-content: end;
    color: var(--color-input-search);
    align-items: center;
    max-height: 54px;
    min-height: 54px;
    width: 100%;
  }

  header .nav-brand .default-content-wrapper p .icon-search::before {
    font-size: var(--body-font-search);
    color: var(--color-input-search);
    content: 'Buscar:';
    font-weight: 600;
    display: block;
    flex: 1;
  }

  header .nav-brand .default-content-wrapper p .icon-search img {
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header .nav-brand .default-content-wrapper p:first-child {
  width: max-content;
  margin: 0 auto;
}

header nav .nav-brand img {
  width: 100%;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
  width: 100%;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  flex-direction: column;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 16px;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    font-weight: 500;
    padding: 13px 10px;
    position: relative;
    line-height: normal;
    border-bottom: 1px solid  rgba(71 71 71 / 40%); 
  }

  header nav .nav-sections .default-content-wrapper > ul > li:last-child {
    border-bottom: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:last-child::after {
    content: none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop:nth-child(4) {
    border-bottom: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="false"]:not(.nav-drop) {
    background: var(--primary-color-purple);
    color: var(--color-white);
    margin-right: -30px;
    margin-left: -30px;
    padding: 13px 40px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="false"]:not(.nav-drop)::after {
    border-bottom: 1px solid var(--color-white);
    position: relative;
    display: block;
    bottom: -14px;
    content: '';
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    position: absolute;
    left: 250px;
    margin-top: 12px;
    padding: 45px 10px;
    background-color: var(--color-gray-ultradark);
    white-space: initial;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 700px;
    max-width: 700px;
    width: 100%;
    top: -53px;
    gap: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li {
    background: url('../../icons/nav-bbgovernment.png');
    background-repeat: no-repeat;
    color: var(--color-white);
    font-weight: 600;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 15px 25px 15px 45px;
    line-height: normal;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:first-child {
    background-position: 0 -360px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(2) {
    background-position: 0 -315px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(3) {
    background-position: 0 -158px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(4) {
    background-position: 0 -103px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(5) {
    background-position: 0 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(6) {
    background-position: 0 -263px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(7) {
    background-position: 0 -207px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(8) {
    background-position: 0 -407px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li ul li:nth-child(9) {
    background-position: 0 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: none;
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > p {
    background: url('../../icons/bbnavigation-logo.png');
    border-bottom: 5px solid var(--color-gray-drak);
    background-color: var(--primary-color-purple);
    border-top: 5px solid var(--color-white);
    font-size: var(--body-font-size-xs);
    background-repeat: no-repeat;
    color: var(--color-white);
    box-sizing: border-box;
    line-height: normal;
    margin-right: -30px;
    margin-left: -30px;
    padding: 13px 40px;
    min-height: 105px;
    font-weight: 600;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
