footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

.footer-wrapper {
  padding: 20px 0;
  background: var(--primary-color-purple);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-wrapper .section > div {
  max-width: none;
}

.footer-wrapper .footer.block {
  max-width: none;
}

.footer-wrapper .footer.block .default-content-wrapper ul {
  padding: 0;
  margin: 0;
}

.footer-wrapper .footer.block .default-content-wrapper ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-wrapper .footer.block .default-content-wrapper > ul {
  display: flex;
  list-style: none;
}

.footer-wrapper .footer.block .default-content-wrapper > ul li {
  color: var(--color-white);
}

.footer-wrapper .footer.block .default-content-wrapper > ul li ul {
  border-left: 2px solid var(--color-lila);
  padding-left: 20px;
}

.footer-wrapper .footer.block .default-content-wrapper > ul li ul li {
  color: var(--color-lila);
}

.footer.block .section:first-child {
  margin-bottom: 15px;
}

.footer.block .section:nth-child(2) {
  background: var(--color-white);
}

.footer.block .section:nth-child(2) .default-content-wrapper {
  display: flex;
}

.footer.block .section:nth-child(2) .default-content-wrapper ul,
.footer.block .section:nth-child(2) .default-content-wrapper p {
  flex: 1;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul {
  padding: 20px 0;
}

.footer.block .section:nth-child(2) .default-content-wrapper p {
  display: flex;
  padding-right: 30px;
  align-items: flex-end;
  box-sizing: border-box;
  flex-direction: column-reverse;
}

.footer.block .section:nth-child(2) .default-content-wrapper picture:first-child img {
  height: initial;
  max-width: 379px;
  width: 100%;
}

.footer.block .section:nth-child(2) .default-content-wrapper picture:nth-child(2) img {
  height: auto;
  max-width: 377px;
  width: 100%;
}

.footer.block .section:nth-child(2) .default-content-wrapper picture {
  max-width: 451px;
  width: 100%;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul li {
  width: 50%;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul li ul li {
  width: 100%;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul li ul li a {
  color: var(--color-black);
}

.footer.block .section:nth-child(3) {
  padding: 15px 30px 0 0;
}

.footer.block .section:nth-child(3) p:nth-child(2),
.footer.block .section:nth-child(3) p:nth-child(3) {
  color: var(--color-white);
}

.footer.block .section:nth-child(3) p:nth-child(2) {
  font-size: var(--body-font-footer);
  font-weight: 600;
}

.footer.block .section:nth-child(3) p:nth-child(4) {
  color: var(--color-lila);
  margin-top: 8px;
  font-size: 17px;
  margin-bottom: 20px;
}

.footer.block .section:nth-child(3) p:not(:first-child) {
  text-align: right;
  line-height: normal;
}

@media (width >= 900px) {
  .footer-wrapper .footer.block .default-content-wrapper > ul >li {
    font-size: var(--heading-footer-titles);
    box-sizing: border-box;
    font-weight: 600;
    max-width: 451px;
    padding: 0 15px;
    width: 25%;
  }
  
  .footer-wrapper .footer.block .default-content-wrapper ul li ul li {
    font-size: var(--body-font-medium);
    line-height: normal;
    font-weight: 400;
    margin: 4px 0;
  }
}
